In [20]:
import pandas as pd
#read in shanghai rental price
r_price = pd.read_csv('lianjia_house_leasing.csv')
r_price = r_price.dropna()

In [2]:
import requests

def geocodeB(address):
    base = url = "http://api.map.baidu.com/geocoder?address=" + address + "&output=json&key=f247cdb592eb43ebac6ccd27f796e2d2"
    response = requests.get(base)
    answer = response.json()
    return answer['result']['location']['lng'],answer['result']['location']['lat']

## 1

In [3]:
address = r_price['area'][0:2000] + r_price['community'][0:2000]
address

0       静安区保德路1010弄
1       静安区柳营路1025弄
2           静安区达安花园
3           静安区皮裘公寓
4       静安区临汾路1515弄
           ...
1995        徐汇区梧桐花园
1996         徐汇区太原邸
1997      徐汇区岳阳路77弄
1998    徐汇区陕西南路618号
1999      徐汇区永康路38弄
Length: 2000, dtype: object

In [35]:
result = []

In [ ]:
for x in address:
    latlng = geocodeB(x)
    result.append(str(x) + str(latlng))
    

#check the data
df = pd.DataFrame (result, columns = ['latlng'])
df

## 2

In [ ]:
address = r_price['area'][2000:3000] + r_price['community'][2000:3000]
address

In [ ]:
for x in address:
    latlng = geocodeB(x)
    result.append(str(x) + str(latlng))
    

#check the data
df = pd.DataFrame (result, columns = ['latlng'])
df

## 3

In [ ]:
address2 = r_price['area'][4000:6000] + r_price['community'][4000:6000]
address2

In [ ]:
for x in address:
    latlng = geocodeB(x)
    result.append(str(x) + str(latlng))
    

#check the data
df = pd.DataFrame (result, columns = ['latlng'])
df

## 4

In [ ]:
address3 = r_price['area'][6000:8000] + r_price['community'][6000:8000]
address3

In [ ]:
for x in address:
    latlng = geocodeB(x)
    result.append(str(x) + str(latlng))
    

#check the data
df = pd.DataFrame (result, columns = ['latlng'])
df

## 5

In [ ]:
address4 = r_price['area'][8000:10000] + r_price['community'][8000:10000]
address4

In [ ]:
for x in address:
    latlng = geocodeB(x)
    result.append(str(x) + str(latlng))
    

#check the data
df = pd.DataFrame (result, columns = ['latlng'])
df

## 6

In [ ]:
address5 = r_price['area'][10000:12000] + r_price['community'][10000:12000]
address5

In [ ]:
for x in address:
    latlng = geocodeB(x)
    result.append(str(x) + str(latlng))
    

#check the data
df = pd.DataFrame (result, columns = ['latlng'])
df

## 7

In [ ]:
address6 = r_price['area'][12000:14000] + r_price['community'][12000:14000]
address6

In [ ]:
for x in address:
    latlng = geocodeB(x)
    result.append(str(x) + str(latlng))
    

#check the data
df = pd.DataFrame (result, columns = ['latlng'])
df

## 8

In [ ]:
address7 = r_price['area'][14000:16000] + r_price['community'][14000:16000]
address7

In [ ]:
for x in address:
    latlng = geocodeB(x)
    result.append(str(x) + str(latlng))
    

#check the data
df = pd.DataFrame (result, columns = ['latlng'])
df

## 9

In [ ]:
address8 = r_price['area'][16000:18000] + r_price['community'][16000:18000]
address8

In [ ]:
for x in address:
    latlng = geocodeB(x)
    result.append(str(x) + str(latlng))
    

#check the data
df = pd.DataFrame (result, columns = ['latlng'])
df

## 10

In [ ]:
address9 = r_price['area'][18000:19910] + r_price['community'][18000:19910]
address9

In [ ]:
for x in address:
    latlng = geocodeB(x)
    result.append(str(x) + str(latlng))
    

#check the data
df = pd.DataFrame (result, columns = ['latlng'])
df

In [ ]:
df = pd.DataFrame (result, columns = ['latlng'])

In [ ]:
df.to_csv('rent_co.csv')

# 高德地图

In [21]:
#使用高德API
def geocodeG(address):
    par = {'address': address, 'key': '596ed98ba5dc3bff56e5bf7179a6a8d5'}
    base = 'http://restapi.amap.com/v3/geocode/geo'
    response = requests.get(base, par)
    answer = response.json()
    GPS=answer['geocodes'][0]['location'].split(",")
    return GPS[0],GPS[1]

In [36]:
address = r_price['area'][11000:12000] + r_price['community'][11000:12000]
address

11001      宝山区宝林路50弄
11002    宝山区淞南九村（南区）
11003      宝山区中冶盘古馨苑
11004       宝山区万业紫辰苑
11005        宝山区泗东新村
            ...
11996        杨浦区银龙新村
11997      杨浦区阳光城滨江悦
11998     杨浦区龙江路130弄
11999       杨浦区明园村小区
12000        杨浦区丹江新苑
Length: 1000, dtype: object

In [37]:
for x in address:
    latlng = geocodeG(x)
    result.append(str(x) + str(latlng))

KeyboardInterrupt:

In [ ]:
df = pd.DataFrame (result, columns = ['latlng'])
df

In [34]:
df.to_csv('rent_co_1k1w.csv')

In [55]:
import pandas as pd
#read in shanghai rental price
one = pd.read_csv('../rent_co.csv')
two = pd.read_csv('../rent_co_5600.csv')
thr = pd.read_csv('../rent_co_7600.csv')
fo = pd.read_csv('../rent_co_15200.csv')

In [56]:
one

      Unnamed: 0                                  latlng
0              0  静安区保德路1010弄('121.451250', '31.315950')
1              1  静安区柳营路1025弄('121.450322', '31.261842')
2              2      静安区达安花园('121.430063', '31.231494')
3              3      静安区皮裘公寓('121.450155', '31.227194')
4              4  静安区临汾路1515弄('121.438045', '31.306689')
...          ...                                     ...
5595        5595      普陀区爱建新村('121.397800', '31.243354')
5596        5596      普陀区桂巷新村('121.400124', '31.237287')
5597        5597      普陀区海鑫公寓('121.409898', '31.223492')
5598        5598    普陀区长风瑞仕璟庭('121.384831', '31.230015')
5599        5599     普陀区华师大一村('121.408810', '31.225686')

[5600 rows x 2 columns]

In [57]:
two

      Unnamed: 0                                   latlng
0              0     普陀区长风一村小区('121.402775', '31.231176')
1              1  普陀区光复西路2163弄('122.323867', '29.971760')
2              2       普陀区桂巷新村('121.400124', '31.237287')
3              3       普陀区北巷小区('121.392481', '31.238349')
4              4  普陀区光复西路2185弄('121.405221', '31.221391')
...          ...                                      ...
1995        1995      浦东新区微山新村('121.515364', '31.209440')
1996        1996      浦东新区宁阳小区('121.517816', '31.212481')
1997        1997      浦东新区宁阳小区('121.517816', '31.212481')
1998        1998      浦东新区微山二村('121.513534', '31.208331')
1999        1999      浦东新区南泉小区('121.522174', '31.213072')

[2000 rows x 2 columns]

In [58]:
thr

      Unnamed: 0                                 latlng
0              0    浦东新区港驳小区('121.526406', '31.213928')
1              1    浦东新区宁阳小区('121.517816', '31.212481')
2              2    浦东新区塘桥小区('121.521286', '31.211516')
3              3   浦东新区景瑞尚滨江('121.513788', '31.212206')
4              4    浦东新区仁恒广场('121.513741', '31.209409')
...          ...                                    ...
7595        7595  闵行区金汇花园四街坊('121.375304', '31.180244')
7596        7596   闵行区东航明珠公寓('121.404534', '31.191163')
7597        7597  闵行区宾川路380弄('121.411750', '31.004897')
7598        7598     闵行区海联花苑('121.412611', '31.186768')
7599        7599      闵行区夏朵园('121.395286', '31.024519')

[7600 rows x 2 columns]

In [59]:
fo

      Unnamed: 0                                  latlng
0              0      闵行区园艺新村('121.357999', '31.145823')
1              1     闵行区万源城御璄('121.397632', '31.149393')
2              2      闵行区莲花新村('121.414810', '31.112325')
3              3     闵行区上海星河湾('121.408216', '31.088055')
4              4      金山区水韵悦城('121.329688', '30.746848')
...          ...                                     ...
4705        4705     青浦区新城逸境园('121.133478', '31.158443')
4706        4706      青浦区蟠龙馨苑('121.276625', '31.188895')
4707        4707    青浦区金瑞苑 北苑('121.233175', '31.185435')
4708        4708      青浦区蟠龙馨苑('121.276625', '31.188895')
4709        4709  青浦区春江三月公寓二期('121.228469', '31.186701')

[4710 rows x 2 columns]

In [60]:
data = [one, two]
df2 = pd.concat(data)
df2

      Unnamed: 0                                  latlng
0              0  静安区保德路1010弄('121.451250', '31.315950')
1              1  静安区柳营路1025弄('121.450322', '31.261842')
2              2      静安区达安花园('121.430063', '31.231494')
3              3      静安区皮裘公寓('121.450155', '31.227194')
4              4  静安区临汾路1515弄('121.438045', '31.306689')
...          ...                                     ...
1995        1995     浦东新区微山新村('121.515364', '31.209440')
1996        1996     浦东新区宁阳小区('121.517816', '31.212481')
1997        1997     浦东新区宁阳小区('121.517816', '31.212481')
1998        1998     浦东新区微山二村('121.513534', '31.208331')
1999        1999     浦东新区南泉小区('121.522174', '31.213072')

[7600 rows x 2 columns]

In [61]:
data = [df2, thr]
df3 = pd.concat(data)
df3

      Unnamed: 0                                  latlng
0              0  静安区保德路1010弄('121.451250', '31.315950')
1              1  静安区柳营路1025弄('121.450322', '31.261842')
2              2      静安区达安花园('121.430063', '31.231494')
3              3      静安区皮裘公寓('121.450155', '31.227194')
4              4  静安区临汾路1515弄('121.438045', '31.306689')
...          ...                                     ...
7595        7595   闵行区金汇花园四街坊('121.375304', '31.180244')
7596        7596    闵行区东航明珠公寓('121.404534', '31.191163')
7597        7597   闵行区宾川路380弄('121.411750', '31.004897')
7598        7598      闵行区海联花苑('121.412611', '31.186768')
7599        7599       闵行区夏朵园('121.395286', '31.024519')

[15200 rows x 2 columns]

In [62]:
data = [df3, fo]
df4 = pd.concat(data)
df4

      Unnamed: 0                                  latlng
0              0  静安区保德路1010弄('121.451250', '31.315950')
1              1  静安区柳营路1025弄('121.450322', '31.261842')
2              2      静安区达安花园('121.430063', '31.231494')
3              3      静安区皮裘公寓('121.450155', '31.227194')
4              4  静安区临汾路1515弄('121.438045', '31.306689')
...          ...                                     ...
4705        4705     青浦区新城逸境园('121.133478', '31.158443')
4706        4706      青浦区蟠龙馨苑('121.276625', '31.188895')
4707        4707    青浦区金瑞苑 北苑('121.233175', '31.185435')
4708        4708      青浦区蟠龙馨苑('121.276625', '31.188895')
4709        4709  青浦区春江三月公寓二期('121.228469', '31.186701')

[19910 rows x 2 columns]

In [63]:
df4 = df4.reset_index()

In [65]:
df4 = df4.drop(['index','Unnamed: 0'], axis = 1)
df4

                                       latlng
0      静安区保德路1010弄('121.451250', '31.315950')
1      静安区柳营路1025弄('121.450322', '31.261842')
2          静安区达安花园('121.430063', '31.231494')
3          静安区皮裘公寓('121.450155', '31.227194')
4      静安区临汾路1515弄('121.438045', '31.306689')
...                                       ...
19905     青浦区新城逸境园('121.133478', '31.158443')
19906      青浦区蟠龙馨苑('121.276625', '31.188895')
19907    青浦区金瑞苑 北苑('121.233175', '31.185435')
19908      青浦区蟠龙馨苑('121.276625', '31.188895')
19909  青浦区春江三月公寓二期('121.228469', '31.186701')

[19910 rows x 1 columns]

In [66]:
df4.to_csv('rent_final.csv')